<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CheckForUpdateUrl" value="https://www.yingdev.com/projects/latestVersion?product=WGestures" />
    <add key="ProductHomePage" value="https://www.yingdev.com/projects/wgestures" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="SendKeys" value="SendInput"/>
  </appSettings>
 

  <runtime>
    <disableStackOverflowProbing enabled="true"/>
  </runtime>
</configuration>